footer {
  background-color: var(--background-color-header);
  font-size: var(--body-font-size-xs);
  color: var(--light-color);
  padding: 10px 0;
  border-top: solid 1px #5a5a5a;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .default-content-wrapper {
    text-align: right;
  }

  @media (width >= 900px) {
    padding: 0;
  }
}

footer .footer > div img{
  width: 128px;
  height: 66px;
}

footer .footer p {
  margin: 0;
}